@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap&quot");

html {
    scroll-behavior: smooth;
}

button {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: black;
	text-decoration: none;
	padding: 9px 25px;
	background-color: rgba(81,195,63,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(33,118,19,0.8);
}

li, a {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #edf0f1;
	text-decoration: none;	
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #0f0f0f;
}

.logo {
	cursor: pointer;		
}

.nav_links {
	list-style: none
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #217613;
}

.title {
	font-size: 50px;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
    padding-left: 30px;
    margin-bottom: 10px;
}

.title2 {
	font-size: 50px;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
    margin-bottom: 10px;
}

.text {
	font-size: 23px;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
    padding-left: 30px;
}

.text2 {
	font-size: 23px;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

.textf {
	font-size: 23px;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.mid_div {
	height: 200px;
	background-color: #0f0f0f;
	padding: 30px;
	border-radius: 20px;
}

.mid_div2 {
	height: 300px;
	background-color: #0f0f0f;
	padding: 30px;
	border-radius: 20px;
}

#div_txt {
    width: 700px;
    float: left;
}

#div_txt2 {
    width: 1000px;
    float: left;
}


#div_img {
    float: left;
}

#div_img2 {
    float: left;
}

#img {
    height: 300px;
    width: 600px;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: -70px;
}

#img2 {
    height: 480px;
    width: 550px;
    border-radius: 20px;
    margin-top: -350px;
    margin-left: 200px;
}

#img3 {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 80px;
}

#b1 {
	float: right;
	margin-right: 300px;
	margin-top: 90px;
	border-radius: 5px;	
	height: 80px;
	width: 160px;
	font-size: 30px;
	font-weight: 700;
}

#b2 {
	float: middle;
	margin-top: 90px;
	border-radius: 5px;
	height: 80px;
	width: 160px;
	font-size: 30px;
	font-weight: 700;
}

#b3 {
	float: left;
	margin-left: 300px;
	margin-top: 90px;
	border-radius: 5px;
	height: 80px;
	width: 160px;
	font-size: 30px;
	font-weight: 700;
}

#form {
	background-color: #0f0f0f;
	margin-left: 34%;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 580px;
	border-radius: 25px;
}

#frm {
	width: 600px;
	padding: 50px;
	border-radius: 25px;
	background-color: #0f0f0f;
}

.floppa:hover {
	transform: scale(1.10);	
	transition: all .1s ease-in-out;
	cursor: pointer;
	border-radius: 10px;
}

.floppa:active {
	transform: scale(0.9);	
	transition: all .1s ease-in-out;
	cursor: pointer;
	border-radius: 10px;
}

.floppa {
	border-radius: 50px;
}

#floppas {
	font-size: 50px;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

