@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap&quot");

.text {
	font-size: 140%;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.textShop {
	font-size: 140%;
	padding-left: 10px;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.textShopNumber {
	font-size: 200%;
	width: 15%;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.textShop2 {
	font-size: 110%;
	padding-left: 10px;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.floppa:hover {
	transform: scale(1.10);	
	transition: all .1s ease-in-out;
	cursor: pointer;
	border-radius: 10px;
}

.floppa:active {
	transform: scale(0.9);	
	transition: all .1s ease-in-out;
	cursor: pointer;
	border-radius: 10px;
}

.floppa {
	transition: all 0.1s ease-in-out;
}

#floppas {
	font-size: 50px;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

