@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap&quot");

.floppa:hover {
	transform: scale(1.10);	
	transition: all .1s ease-in-out;
	cursor: pointer;
	border-radius: 10px;
}

.floppa:active {
	transform: scale(0.9);	
	transition: all .1s ease-in-out;
	cursor: pointer;
	border-radius: 10px;
}

.floppa {
	border-radius: 50px;
}

#floppas {
	font-size: 50px;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

